# macOS system files
.DS_Store

# Joplin temp and lock files (if you accidentally sync here)
locks/
temp/

# Logs or crash reports
*.log

# Node or Python (if you later use scripts here)
node_modules/
__pycache__/

# Backup or cache files
*.bak
*.tmp

# Ignore hidden swap or editor temp files
*~
*.swp

#Task folder is ignored and has data related to tasks
Tasks/

sync_notes_togit.sh

